* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  letter-spacing: -0.025em;
}

html,body {
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  width: 100%;
  max-width: 400px;
  padding: 40px 16px;
  /* background-color: #f7f7f7; */
  border-radius: 10px;
  border: 2px solid #f7f7f7;
}

form fieldset {
  border: none;
}

form legend {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border: none;
  border-radius: 10px;
  background-color: #f7f7f7;
  font-size: 12px;
  outline: none;
}

form input::placeholder {
  color: rgb(129, 129, 129);
}

.input-layout {
  position: relative;
}

.input-layout + .input-layout {
  margin-top: 10px;
}

.form-submit {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #00a18d;
  color: #fff;
  font-size: 14px;
}

.form-submit[disabled="true"] {
  background-color: #f4f4f4;
}

.valid-info {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  padding: 0 10px;
  opacity: 0;
}

.valid-success .valid-info, 
.valid-error .valid-info {
  opacity: 1;
  transition: 0.3s;
}

.valid-info svg {
  width: 16px;
  height: 16px;
}

.valid-success input { 
  border: 1px solid #57d699;
}

.valid-success svg {
  fill: #57d699;
}

.valid-error input {
  border: 1px solid #ff1a68;
}

.valid-error svg {
  fill: #ff1a68;
}
