@import url('./reset.css');
@import url('./todo-header.css');
@import url('./todo-body.css');
@import url('./todo-modal.css');
@import url('./todo-input.css');

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #f4f4f4;
}

.todo {
  width: 400px;
  border-radius: 5px;
  padding: 30px;
  background-color: #fff;
  position: relative;
}
