/* ! Tab-btns */
.tab-btns {
  width: 100%;
  display: flex;
}

.tab-btns__item {
  flex: 1;
  height: 56px;
  border: 1px solid #ccc;
}

.tab-btns__item.active {
  border-bottom: none;
}

.tab-btns__item + .tab-btns__item {
  border-left: none;
}

.tab-btns__button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}